* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  border: 1px solid white;
  display: flex;
  font-size: 15px;
  align-items: center;
  justify-content: center;
}
.flex_container {
  display: flex;
  max-width: 780px;
  min-height: 420px;
  border-radius: 20px;
  overflow: hidden;
}
h1 {
  font-family: "Big Shoulders Display";
  font-weight: 700;
  color: hsl(0, 0%, 95%);
}

.first_frame {
  display: flex;
  background-color: hsl(31, 77%, 52%);
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.Second_frame {
  display: flex;
  background-color: hsl(184, 100%, 22%);
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.third_frame {
  display: flex;
  background-color: hsl(179, 100%, 13%);
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.text_body {
  font-family: "Lexend Deca";
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.75);
}
button {
  color: hsla(0, 0%, 100%, 0.75);
  /* border-color: hsla(0, 0%, 100%, 0.75); */
  border-radius: 20px;
  max-width: 200px;
  height: 48px;
  flex-shrink: 0;
}
.car1 {
  color: hsl(31, 77%, 52%);
}
.car2 {
  color: hsl(184, 100%, 22%);
}
.car3 {
  color: hsl(179, 100%, 13%);
}
.flex_container > * {
  padding: 20px;
}
p {
  line-height: 2;
}
.text-icon {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.icon {
  height: 58px;
  width: 34px;
}
